In [ ]:
example = "47-14-82-198-237-7-319-192-71-281-194"
example = example.replace("â€“", "-")
l = example.split("-")
print(l)
print(sum([abs(int(l[i]) - int(l[i-1])) for i in range(1, len(l))]))

['47', '14', '82', '198', '237', '7', '319', '192', '71', '281', '194']
1343

In [ ]:
l = "87, 312, 147, 64, 212, 15, 89, 5, 128, 192, 50"
sorted([int(i) for i in l.split(", ")])

[5, 15, 50, 64, 87, 89, 128, 147, 192, 212, 312]

SSTF

In [ ]:
!echo "ok"

ok

In [ ]:
l = "14, 82, 198, 237, 7, 319, 192, 71, 281, 194, 47"
l = sorted([int(i) for i in l.split(", ")])
cr = 47
asc = False
re = [cr]
while max(l) > 0:
    m = 9999
    mi = -1
    t = [abs(cr-i) for i in l]
    for i in range(len(t)):
        if t[i] < m:
            m= t[i]
            mi = i
        elif t[i] == m:
            if asc:
                mi = i
    re.append(l[mi])
    l[mi] = -9999
    cr = re[-1]
print("-".join([str(i) for i in re]))
print(sum([abs(int(re[i]) - int(re[i-1])) for i in range(1, len(re))]))

47-47-71-82-14-7-192-194-198-237-281-319
422